@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    /* Common styles */
    .container {
        width: 90%;
    }
    
    .button {
        padding: 1rem 2.8rem;
        font-size: 1.1rem;
    }
    
    .sup-text {
        font-size: 1.3rem;
    }
    
    .sub-text {
        font-size: 1.3rem;
        line-height: 20px;
        margin-top: 1.2rem;
    }
    
    .section-title {
        font-size: 4rem;
        margin-top: 1.3rem;
    }
    /* Common styles */
    
    /* Main section */
    .main-section {
        background-size: 50% 570px;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1.6rem 0;
        z-index: 10;
        position: relative;
    }
    
    .navbar__logo img {
        width: 70px;
    }

    .navbar__items.active {
        display: flex;
    }
    
    .navbar__items {
         display: none;    
        /*flex-direction: column;
        justify-content: space-around;
        width: 120%;
        height: 300px;
        transform: translateX(-10%);
        background-color: red; */
    }

    .nav-toggle-button {
        display: flex;
        /* position: absolute;
        top: 0.8rem;
        right: 0; */
        width: 45px;
        height: 40px;
        padding: 4px 8px;
        border: 1px solid #333;
        border-radius: 4px;
        cursor: pointer;
    }

    .navbar__items-item {
        margin-right: 4rem;
        border-bottom: 2px solid rgba(255, 255, 255, 0.01);
        padding: 0 0.4rem;
        cursor: pointer;
        transition: border 0.2s;
    }

    .navbar__items-item a {
        text-decoration: none;
        color: #333333;
        font-size: 1.6rem;
        font-weight: normal;
    }
    
    .navbar__button {
        background-color: transparent;
        transition: background-color .2s;
        color: #333;
        margin-left: 0;
    }
    
    .main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12rem 0 33rem;
    }
    
    .main-section__text-box {
        width: 44%;
        /* padding-left: 30px; */
    }
    
    .main-section__text-box .main-text {
        font-style: normal;
        font-weight: bold;
        font-size: 4rem;
        line-height: 50px;
        color: #333333;
        margin-top: 3rem;
    }
    
    .main-section__text-box .button {
        margin-top: 3rem;
        transition: background-color 0.2s;
        background-color: #333;
    }
    
    .main-section__text-box .button:hover {
        background-color: #555;
    }
    
    .main-section__img-box {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 40%;
        position: relative;
    }
    
    .main-section__img-box img {
        width: 280px;
    }
    
    .nount-info {
        padding: 1.7rem 1.2rem;
        width: 120px;
        left: -60px;
        top: 40px;
        border-radius: 10px;
    }
    
    .nount-info__top {
        display: flex;
        align-items: center;
    }
    
    .nount-info__top .grade {
        margin-right: 0.5rem;
        font-size: 2rem;
    }
    
    .nount-info__top i {
        color: #E2B358;
        font-size: 10px;
    }
    
    .nount-info__top img {
        width: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }
    
    .nount-info p {
        font-size: 1.1rem;
        line-height: 17px;
    }
    
    .nount-info .avatar-name {
        font-size: 1.1rem;
        margin-top: 0.7rem;
    }
    
    .scale-icon-box {
        width: 75px;
        height: 75px;
        left: 210px;
        top: 220px;
        box-shadow: 0px 7px 20px rgba(0,0,0,0.4);
    
    }
    
    .scale-icon-box img {
        width: 45px;
        height: 45px;
    }
    /* Main section */


    /* Info-cards Section */
    .info-cards__item {
        padding: 2.2rem 2.2rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .info-card-background-one {
        background-position: -90px -65px;
    }

    .info-card-background-two {
        background-position: -90px -65px;
    }

    .info-card-background-three {
        background-position: -90px -65px;
    }

    .info-cards__item img {
        width: 20px;
    }

    .info-cards__item .cards-title {
        font-size: 1.7rem;
        margin-top: 1rem;
    }

    .info-cards__item .cards-info {
        font-size: 1.3rem;
        line-height: 2.6rem;
        margin-top: 3rem;
    }

    .info-cards__item .read-more {
        margin-top: 1.7rem;
        font-size: 1.4rem;
    }
    /* /Info-cards Section */


    /* Services Section */
    .services {
        background-image: none;
    }

    .services__sub-text {
        margin-bottom: 5rem;
        margin-left: 15rem;
        margin-right: 15rem;
    }

    .services__items {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    .services__item {
        width: 49%;
        border-radius: 10px;
    }

    .services__items .corporate-box {
        padding: 3rem;
    }

    .services__items .corporate-box img {
        width: 270px;
    }

    .services__items .corporate-box h3 {
        font-size: 2.8rem;
        bottom: 25px;
        left: 25px;
    }

    .services__items .data-privacy {
        padding: 2.2rem;
    }

    .services__items .data-privacy h3,
    .services__items .employment h3,
    .services__items .intelectual h3 {
        font-size: 1.8rem;
        bottom: 22px;
        left: 22px;
    }

    .services__items .data-privacy img {
        width: 130px;
        top: 50px;
        right: 100px;
    }

    .services__items .employment {
        padding: 2.2rem;
    } 

    .services__items .employment img {
        width: 110px;
    }

    .services__items .intelectual {
        padding: 2.2rem;
    } 

    .services__items .intelectual img {
        width: 150px;
    }
    /* /Services Section */


    /* Our Clients Section */
    .clients {
        padding: 10rem 0 18rem;
        background-color: #F9E5E1;
    }

    .clients__items {
        margin-top: 3.8rem;
    }

    .clients__item {
        width: 14%;
    }

    .clients__item img {
        width: 100%;
    }

    .clients__button {
        margin: 5rem auto 0;
    }
    /* /Our Clients Section */


    /* About Section */
    .about__item {
        width: 45%;
    }

    .about__rate-info-title {
        font-size: 1.4rem;
        margin-top: 1.4rem;
    }

    .about__rate-info-sub-text {
        font-size: 1.3rem;
        margin-top: 0.5rem;
    }

    .about__img-box img {
        width: 280px;
    }

    .about__rate-info {
        padding: 2.5rem 1.2rem;
        width: 130px;
        left: -60px;
        bottom: 25px;
        border-radius: 10px;
    }

    .about__rate-info-top img {
        width: 55px;
        height: 55px;
    }

    .about__rate-info-top .white-circle {
        width: 28px;
        height: 28px;
        top: 2.5px;
        left: 13.5px;
    }
    
    .about__rate-info-top .green-circle {
        width: 15px;
        height: 15px;
    }

    .about__rate-info-top .per-sent {
        font-size: 1.8rem;
        margin-left: 2rem;
    }

    .hummer-icon-box {
        width: 75px;
        height: 75px;
        top: -40px;
        right: -10px;
    }

    .hummer-icon-box img {
        width: 45px;
        height: 45px;
    }

    .about__statisics-items {
        width: 100%;
        display: flex;
        margin-top: 12rem;
    }

    .about__statistics-item {
        width: 30%;
        padding: 3.8rem 0;
    }

    .about__statistics-item p {
        font-size: 4rem;
    }

    .about__statistics-item .number-decription {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    /* /About Section */

    
    /* Stories section */
    .stories {
        padding: 10rem 0;
    }

    .stories__sub-text {
        margin-left: 15rem;
        margin-right: 15rem;
    }

    .stories__items {
        margin-top: 4.5rem;
        position: relative;
    }

    .stories__item-iamge {
        width: 75%;
        height: 280px;
    }

    .stories__item-iamge1 {
        background-size: 280px 280px;
        background-repeat: no-repeat;
    }

    .stories__item-iamge2 {
        background-repeat: no-repeat;
        background-size: 280px 280px;
    }

    .stories__item-info {
        width: 75%;
        height: 120px;
        padding: 2.5rem 2rem;
        transform: translate(12%, -45%);
    }

    .stories__item-info .title {
        font-size: 1.2rem;
    }

    .stories__item-info .info {
        font-size: 1.7rem;
        margin-top: 0.9rem;
    }

    .stories__slider-points {
        width: 75px;
    }

    .stories__slider-point {
        width: 12px;
        height: 12px;
    }
    /* /Stories section */


    /* Testimonials Section */
    .testimonials {
        padding-top: 10rem;
        padding-bottom: 27rem;
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 50% 700px;
    }

    .testimonials__img-box img{
        width: 280px;
    }

    .testimonials__line-grapf-box {
        padding: 2.4rem 1.2rem;
        border-radius: 10px;
        left: -15px;
        bottom: 35px;
    }

    .testimonials__line-grapf-box .grade {
        font-size: 2rem;
    }

    .testimonials__line-grapf-box i {
        font-size: 1rem;
    }


    .testimonials__line-grapf-box .line-graph-items {
        margin-top: 1.7rem;
    }


    .testimonials__line-grapf-box .line-graph-item {
        margin-bottom: 0;
    }


    .testimonials__line-grapf-box .graph-line {
        width: 75px;
        height: 5.5px;
    }

    .testimonials__line-grapf-box .graph-rate {
        font-size: 1.3rem;
    }

    .testimonials__quote-box {
        width: 75px;
        height: 75px;
        border-radius: 10px;
        top: 40px;
        right: -30px;
    }

    .testimonials__quote-box img {
        width: 45px;
        height: 31px;
    }

    .testimonials__text-box {
        padding: 0 2rem 0 5rem;
    }

    .testimonials__testimonial {
        display: flex;
        align-items: center;
        margin-top: 3rem;
    }

    .testimonials__testimonial img {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        margin-right: 2rem;
    }

    .testimonial-name {
        font-size: 1.7rem;
        margin-bottom: 0.4rem;
    }

    .testimonial-info .platform {
        font-size: 1.3rem;
    }
    /* /Testimonials Section */


    
    /* Blog Section */
    .blog {
        padding-bottom: 9rem;
        background-image: none;
    }

    .blog__form {
        height: 420px;
        border-radius: 15px;
    }

    .blog__consultation {
        padding: 4rem 3rem;
        border-radius: 15px 0 0 15px;
    }

    .consultation__title {
        font-size: 2.8rem;
    }

    .consultation__sub-text {
        font-size: 1.3rem;
        line-height: 22px;
        margin-top: 1rem;
        margin-bottom: 1.2rem;
    }

    .blog__consultation label {
        margin-top: 1.1rem;
    }

    .blog__consultation input, 
    .blog__consultation textarea {
        padding: 0.7rem 1.2rem;
        border-radius: 4px;
    }

    .blog__consultation textarea {
        height: 60px;
    }

    .blog__consultation input::placeholder, 
    .blog__consultation textarea::placeholder {
        font-size: 1.2rem;
    }

    .consultation__button {
        width: 120px;
        margin-top: 1rem;
        font-size: 1rem; 
    }

    .blog__right-item {
        width: 50%;
        height: 100%;
    }

    .blog__contact-items {
        padding: 4rem 3rem;
        border-radius: 0 15px 0 0;
    }

    .blog__right-item .mobile,
    .blog__right-item .email {
        display: flex;
        align-items: center;
    }

    .blog__right-item .phone-number {
        font-size: 2.2rem;
    }

    .blog__right-item .phone-number::before {
        padding: 0.2rem 0.7rem;
        margin-right: 1rem;
    }

    .blog__right-item .email {
        font-size: 2rem;
        margin-top: 1rem;
    }

    .blog__right-item .email::before {
        padding: 0.7rem 0.7rem;
        margin-right: 1rem;
    }

    .blog__right-item .contact-item-text {
        font-size: 1.3rem;
        line-height: 22px;
        margin-top: 0.5rem;
    }

    .blog__newslatter {
        padding: 3rem 3rem;
        border-radius: 0 0 15px 0;
    }

    .newslatter__title {
        font-size: 2.8rem;
    }

    .blog__newslatter-form {
        margin-top: 1rem;
    }

    .blog__newslatter-form label {
        width: 65%;
    }

    .blog__newslatter-form input {
        padding: 0.7rem 1.2rem;
        border-radius: 4px;
    }

    .blog__newslatter-form input::placeholder {
        font-size: 1.2rem;
    }

    .newslatter__button {
        padding: 0.75rem 1.2rem;
        font-size: 1.2rem;
    }

    .blog__sub-text {
        margin-left: 15rem;
        margin-right: 15rem;
    }

    .blog__cards {
        margin-top: 5.5rem;
    }

    .blog__card {
        width: 32%;
        border-radius: 10px;
        height: 280px;
    }

    .blog__card .img-box {
        border-radius: 0;
    }

    .blog__card .data {
        padding: 0.5rem 0.7rem;
        border-radius: 5px;
        font-size: 1.3rem;
        top: 20px;
        left: 20px;
    }

    .blog__card .img-box .blog__scale-img {
        border-radius: 0;
    }

    .blog__card .img-box1 .blog__scale-img {
        background-size: 250px 240px;
    }

    .blog__card .img-box2 .blog__scale-img {
        background-size: 250px 240px;
    }

    .blog__card .img-box3 .blog__scale-img {
        background-size: 250px 240px;
    }

    .blog__cards .blog__card-text {
        font-size: 1.6rem;
        line-height: 2.3rem;
        padding: 2rem;
    }

    .blog__explore-button {
        margin: 5.5rem auto 0;
    }
    /* /Blog Section */

    
    /* Footer */
    .footer {
        background-color: #333;
    }

    .footer__items {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 5rem 0;
    }

    .footer__item img {
        margin-bottom: 1rem;
    }

    .footer__item img {
        width: 70px;
    }

    .footer__items .socials {
        display: flex;
        margin-top: 1.7rem;
    }

    .footer__items .social a{
        font-size: 1.6rem;
        margin-right: 0.7rem;
    }

    .footer__items .facebook {
        padding: 0.7rem 1.2rem;
    }

    .footer__items .tweter {
        padding: 0.7rem 0.8rem;
    }

    .footer__items .instagram {
        padding: 0.7rem 0.9rem;
    }

    .footer__menu-list,
    .footer__service-list,
    .footer__item .office-location {
        margin-top: 2rem;
    }

    .footer__menu-item,
    .footer__service-item {
        margin-top: .8rem;
    }

    .footer__menu-item a,
    .footer__service-item a {
        font-size: 1.4rem;
    }

    .office-location {
        font-size: 1.4rem;
        line-height: 23px;
    }

    .footer hr {
        border: 0.1px solid #bbb; 
    }

    .footer__sub-info {
        padding: 3rem 0;  
    }

    .footer__sub-info .copyright {
        font-size: 1.4rem;
    }

    .footer__sub-info-links a {
        font-size: 1.4rem;
    }

    .footer__sub-info-links .privacy {
        margin-left: 3.5rem;
    }
    /* /Footer */
}